/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nav */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-item {
  margin: 0 10px;
  list-style: none;
}

.nav-item a {
  text-decoration: none;
}

/* Global */

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.flex-container-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.flex-container-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

/* Home */
.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.search-input {
  width: 85%;
  margin: 10px;
  padding: 5px;
}

.playlist-length-select {
  margin-top: 15px;
}

/* Search Results */

.search-results {
  margin-top: 2vh;
}

.spinner {
  margin-top: 10vh;
  height: 20vh;
}

/* Playlist Table */

#playlist-buttons {
  width: 75%;
  display: flex;
  align-items: stretch;
  justify-content: end;
  margin-top: 20px;
}

.icon-save-playlist-local {
  height: 30px;
}

.icon-save-playlist-spotify {
  height: 30px;
  margin-left: 10px;
}

.icon-save-playlist-local:hover {
  cursor: pointer;
  color: green;
  transition-duration: 0.5s;
}

.icon-save-playlist-spotify:hover {
  cursor: pointer;
  color: green;
  transition-duration: 0.5s;
}

#table-playlist-results {
  margin-top: 5px;
  margin-bottom: 3rem;
  width: 75%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  border-collapse: collapse;
}

tr {
  border: 1px solid rgba(0, 0, 0, 0.5);
  text-align: center;
}

th {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
}

td {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
}

/* Login */
.login-header {
  margin-bottom: 20px;
}

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
  padding: 40px;
  width: 33%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

/* SignUp */

.signup-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
  padding: 40px;
  width: 33%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

.signup-header {
  margin-bottom: 20px;
}
