/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nav */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-item {
  margin: 0 10px;
  list-style: none;
}

.nav-item a {
  text-decoration: none;
}

/* Global */

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.flex-container-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.flex-container-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

/* Forms */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
  padding: 40px;
  width: 80vw;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

.form-header {
  margin-bottom: 20px;
}

/* Home */
.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.search-input {
  width: 85%;
  margin: 10px;
  padding: 5px;
}

.playlist-length-select {
  margin-top: 15px;
}

/* Search Results */

.search-results {
  margin-top: 2vh;
}

.spinner {
  margin-top: 10vh;
  height: 20vh;
}

/* Playlist Table */

#playlist-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.playlist-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.success-message {
  color: green;
  margin-top: 10px;
}

.icon-save-playlist-local {
  height: 30px;
}

.icon-save-playlist-spotify {
  height: 30px;
  margin-left: 10px;
}

.icon-save-playlist-local:hover {
  cursor: pointer;
  color: green;
  transition-duration: 0.5s;
}

.icon-save-playlist-local:active {
  color: rgb(0, 255, 0);
  transition-duration: 0.5s;
}

.icon-save-playlist-local-error {
  height: 30px;
  margin-left: 10px;
  color: red;
}

.icon-save-playlist-spotify:hover {
  cursor: pointer;
  color: green;
  transition-duration: 0.5s;
}

.icon-save-playlist-spotify:active {
  color: rgb(0, 255, 0);
  transition-duration: 0.5s;
}

.icon-save-playlist-spotify-error {
  height: 30px;
  margin-left: 10px;
  color: red;
}

#table-playlist-results {
  margin-top: 5px;
  margin-bottom: 3rem;
  width: 75%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  border-collapse: collapse;
}

tr {
  border: 1px solid rgba(0, 0, 0, 0.5);
  text-align: center;
}

th {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
}

td {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
}

/* DESKTOP VIEW */

@media screen and (min-width: 768px) {
  .form-container {
    width: 30vw;
  }

  .searchbar {
    width: 50vw;
  }
}
